<!-- footer -->
<section class="footer-img">
  <div class="container">
    <div class="col-md-4">
      <h2 class="mb-20 text-dark-gray">
        記得<br />
        訂閱以獲取更多資訊！
      </h2>
      <form class="footer-form bg-dark-brown d-flex">
        <input
          class="form-control"
          type="email"
          placeholder="Your email address"
        />
        <button class="footer-button text-white px-24" type="submit">
          Subscribe
        </button>
      </form>
    </div>
  </div>
</section>
<footer class="bg-dark-brown text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <ul
          class="row align-items-center justify-content-between justify-content-md-start"
        >
          <li class="col-auto">
            <a href=""><img src="../assets/images/logo-white.png" alt="" /></a>
          </li>
          <li class="col-auto">&copy; 2020. All Rights Reserved.</li>
        </ul>
      </div>
      <div class="col-6 d-none d-md-block">
        <ul class="row justify-content-end">
          <li class="col-auto"><a href="">Product</a></li>
          <li class="col-auto"><a href="">Blog</a></li>
          <li class="col-auto"><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
