<!-- footer -->
<section class="footer-img">
  <div class="container">
    <h2 class="mb-20">
      記得<br />
      訂閱以獲取更多資訊！
    </h2>
    <form action="">
      <input type="email" id="email" placeholder="Your email address" />
      <input type="submit" value="Subscribe" />
    </form>
  </div>
</section>
<footer class="bg-dark-brown text-white">
  <div class="container d-flex justify-content-md-between">
    <ul class="d-flex justify-content-between align-items-center">
      <li class="footer-info-item me-20">
        <a href=""
          ><img src="../assets/images/logo-white.png" alt="white-logo"
        /></a>
      </li>
      <li><a class="my-28" href="">&copy; 2020. All Rights Reserved.</a></li>
    </ul>
    <ul class="footer-info d-none d-md-flex">
      <li><a class="my-28 me-36" href="">Product</a></li>
      <li><a class="my-28 me-36" href="">Blog</a></li>
      <li><a class="my-28" href="">Contact</a></li>
    </ul>
  </div>
</footer>
