<!-- header  -->
<div class="container gx-md-0">
  <div class="row align-items-center">
    <div class="col-4">
      <h1 class="header-title">
        <a href="#">
          <img
            src="../assets/images/logo-brown.png"
            alt="文字顏色為淺咖啡色的logo，文字內容是D'PERFUME。"
          />
        </a>
      </h1>
    </div>
    <nav class="col">
      <ul class="row justify-content-end text-dark-gray gx-30">
        <li class="nav-item col-auto my-16 d-none d-md-flex">
          <a href="#"
            ><span class="material-icons">&#xe563;</span>
            <span>Product</span>
          </a>
        </li>
        <li class="nav-item col-auto my-16 d-none d-md-flex">
          <a href="#">
            <span class="material-icons">&#xe7fd;</span>
            <span>log in</span>
          </a>
        </li>
        <li class="nav-item col-auto my-16 d-none d-md-flex">
          <a href="#">
            <span class="material-icons">&#xe87d;</span>
            <span>Wishlist</span>
          </a>
        </li>
        <li class="nav-item col-auto my-16 position-relative">
          <a href="#">
            <div class="cart-icon material-icons">&#xe8cc;</div>
            <span class="d-none d-md-block">Cart(3)</span>
            <span
              class="nav-item--label d-block d-md-none bg-dark-brown text-white position-absolute"
              >3</span
            >
          </a>
        </li>
        <li class="nav-item col-auto my-16 d-md-none">
          <a href="#">
            <span class="material-icons menu-icon">&#xe5d2;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
