.footer{
  &-img{
    width: 100%;
    height: 600px;
    background: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1180&q=80") no-repeat center/cover;
    h2{
      padding-top: 312px;
      font-size: 2rem;
    }
  }
  &-form{
    display: block;
    height: 60px;
    border-radius: 4px;
    border: 2px solid var(--bs-dark-brown);
  }
  &-button{
    background-color: transparent;
    border:none;
  }
}

footer{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}