
.nav{
  &-item{
    a{
      display: flex;
    }
    &--label{
      top: -5px;
      right: 8px;
      border-radius: 7px;
      width: 16px;
      height: 13px;
      font-size: 12px;
      text-align: center;
    }
  }
}