//! a連結：查看更多 
.underline-hover{
  &:hover{
    text-decoration: underline;
  }
}
//! banner 
.banner{
  background: url("https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80") no-repeat center / cover;
  max-width: 100%;
  height: 870px;
  &-item{
    width: 445px;
  }
  &-title{
    font-size: 2.5rem;
  }
  &-body{
    font-size: 1.5rem;
  }
  &-button{
    font-size: 1.5rem;
    border: 2px solid #ffffff;
    border-radius: 30px;
    width: 350px;
    line-height: 60px;
    text-align: center;
    transition: background-color, 0.3s;
    &:hover{
      background-color: #FFFFFF4D;
    }
  }
}

//! intro
.intro-img{
  width: 555px;
  height: 555px;
  &-01{
    background: url("https://images.unsplash.com/photo-1563170351-be82bc888aa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80") no-repeat center 30%/cover;
  }
  &-02{
    background: url("https://images.unsplash.com/photo-1563170351-be82bc888aa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80") no-repeat center 30%/cover;
  }
  &-03{
    background: url("https://images.unsplash.com/photo-1585120040315-2241b774ad0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80") no-repeat left center/ cover;
  }
  &-04{
    background: url("https://images.unsplash.com/photo-1542038382126-77ae2819338d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80") no-repeat center /cover;
    height: 1080px;
  }
}

.intro{
  &-button{
    text-align: center;
    border: 2px solid var(--bs-dark);
    width: 350px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 1.5rem;
    transition: background-color, 0.3s;
    &:hover{
      background-color: #0000000D;
    }
  }
  &-text{
    margin-bottom: 52px;
  }
}

//! display
.display-item{
  &:hover{
    position: relative;
    top: -10px;
  }
}
.display-img{
  width: 100%;
  height: 540px;
  &-mask::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
  }
  &-01{
    background: url("https://images.unsplash.com/photo-1530630458144-014709e10016?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80") no-repeat center bottom/ cover;
  }
  &-02{
    background: url("https://images.unsplash.com/photo-1556228720-da4e85f25e15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=784&q=80") no-repeat center bottom/ cover;
  }
  &-03{
    background: url("https://images.unsplash.com/photo-1559264730-1533a6ec0433?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80") no-repeat center bottom/ cover;
  }
}
.mask-text{
  position: relative;
  z-index: 1000;
  color: #ffffff;
  font-size: 1.5rem;
}

//! recycling
.recycling{
  &-img{
    max-width: 100%;
    height: 520px;
    background: url("https://images.unsplash.com/photo-1594913615593-e4b8c44625be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80") no-repeat center /cover;
  }
}

@media (max-width:767px){
  .intro-img{
    width: 100%;
    height: 350px;
  }
  .banner{
    height: 480px;
  }
  .intro{
    &-button{
      margin: 0 auto;
    }
  }
}