<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Product</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <!-- brand -->
    <section class="brand bg-dark-brown text-white d-none d-md-block">
      <div class="container gx-0">
        <div class="row flex-nowrap overflow-scroll gx-28">
          <div class="col-auto">
            <a href="#"
              ><span class="brand-title brand-title--active">CHANEL</span></a
            >
          </div>
          <div class="col-auto">
            <a href="#"><span class="brand-title">Jo Malone</span></a>
          </div>
          <div class="col-auto">
            <a href="#"><span class="brand-title">Curology</span></a>
          </div>
          <div class="col-auto">
            <a href="#"><span class="brand-title">Dior</span></a>
          </div>
          <div class="col-auto">
            <a href="#"><span class="brand-title">Chole</span></a>
          </div>
          <div class="col-auto">
            <a href="#"><span class="brand-title">ZARA</span></a>
          </div>
        </div>
      </div>
    </section>
    <!-- goods -->
    <section class="goods">
      <div class="container mt-42 mt-md-80 gx-md-0">
        <ul class="row goods-list gx-30 gy-30 gy-md-50 mb-40 mb-md-80">
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-01 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <span class="good-price text-decoration-line-through"
                >NT$1,580</span
              >
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-02 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <span class="good-price text-decoration-line-through"
                >NT$1,580</span
              >
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-03 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-04 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-05 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <span class="good-price text-decoration-line-through"
                >NT$1,580</span
              >
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-06 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <span class="good-price text-decoration-line-through"
                >NT$1,580</span
              >
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-07 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-08 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-09 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <span class="good-price text-decoration-line-through"
                >NT$1,580</span
              >
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-10 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <span class="good-price text-decoration-line-through"
                >NT$1,580</span
              >
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-11 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
          <li class="col-6 col-md-3">
            <a class="good-item" href="#">
              <!-- contents of good -->
              <a class="good-img good-img-12 img-fluid" href="#"></a>
              <h2 class="good-title"><a href="#">Poppy & Barley</a></h2>
              <a class="good-brand">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#">&#xe87d;</a></span
                >
                <span class="material-icons"><a href="#">&#xe8cc;</a></span>
              </div>
            </a>
          </li>
        </ul>
        <!-- pagination -->
        <div class="row justify-content-center mb-40 mb-md-60">
          <div class="col-auto">
            <ul class="pagination">
              <li class="page-item mx-10"><a href="#">1</a></li>
              <li class="page-item mx-10"><a href="#">2</a></li>
              <li class="page-item mx-10"><a href="#">3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
  </body>
  <script type="module" src="../main.js"></script>
</html>
